<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img
                src="https://image.tmdb.org/t/p/w500/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg"
                alt=""
            />
        </div>
        <div class="slide-pane">
            <h2 class="name">Fight Club</h2>
            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span>star</span><span class="rating-value">7.5</span
                        ><span>/10</span><span>1092 reviews</span
                        ><span>2021</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
